<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图片列表</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script th:src="@{/laydate/laydate.js}"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/layer/layer.js"></script>
    <style>
        .body{
            background-color: #f8f8f8;
            font-family: "Times New Roman", Times, serif;
        }
        .layui-table img{
            width: 150px;
            height: 100px;
        }
        .layui-table-cell{
            height: 100px;
        }

    </style>

    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button lay-event="deletes" class="layui-btn layui-btn-danger">删除选中行</button>
            <button type="button" class="layui-btn layui-btn-normal" id="upload_btn" lay-event="upload">
                <i class="layui-icon">&#xe67c;</i>上传网络图片
            </button>
            <button lay-event="updateCache" class="layui-btn"><label class="layui-icon layui-icon-refresh"></label>更新缓存</button>
        </div>
    </script>

    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a><br/>
    </script>

    <script th:inline="javascript">
        layui.use(['table','element','laydate','form'], function(){
            var table = layui.table;
            var element = layui.element;
            var laydate = layui.laydate;
            var form = layui.form;
            laydate.render({
                elem: '#search-createTime'
                ,range: true
            });
            //搜索功能
            $("#searchBtn").click(function () {

                reload();
            });
            //重置
            $("#resetBtn").click(function () {
                $("#searchClazzInfoForm")[0].reset();
                tableIns.reload({
                    where: {
                        "msg": "",
                        "code": "",
                        "data": {
                            "name": '',
                            "startTime": '',
                            "endTime": ''
                        }
                    }
                    , page: {
                        curr: 1
                    }
                });
            });

            var tableIns = table.render({
                elem: '#clazzTable'
                , url: '/profile/getProList?cid='+ [[${cid}]]
                , toolbar: '#toolbar'
                , method: 'get'
                ,page:true
                , where: { //接口的其他参数
                }
                , defaultToolbar: []
                , limits: [5, 10]
                , limit: 10
                , cols: [
                    [
                        {type: 'checkbox', fixed: 'left',align:"center"}
                        ,{field: 'filekey', title: 'filekey',align:"center",hide:true}
                        , {field: 'id', title: 'ID',align:"center"}
                        , {field: 'pic', title: '图片预览',templet:"#showImg",align:"center"}
                        , {field: 'time', title: '上传时间',align:"center"}
                        ,{field: 'filekey',title: '图片类型',align: "center",templet:function (data) {
                            if (data.filekey == null || data.filekey == "") return '网络图片'
                            else return '本地图片'
                        }}
                        , {title: '操作', fixed: 'right', width: 135, toolbar: '#bar'}
                    ]
                ], done: function (res, curr, count) {
                    //初始化高度，使得冻结行表体高度一致
                    $(".layui-table-body tr").each(function (index, val) {
                        $($(".layui-table-fixed .layui-table-body table tr")[index]).height($(val).height());
                    });
                    //动态监听表体高度变化，冻结行跟着改变高度
                    $(".layui-table-body tr").resize(function () {
                        $(".layui-table-body  tr").each(function (index, val) {
                            $($(".layui-table-fixed .layui-table-body table tr")[index]).height($(val).height());
                        });
                    });
                    $(".layui-table-header tr").resize(function () {
                        $(".layui-table-header  tr").each(function (index, val) {
                            $($(".layui-table-fixed .layui-table-header table tr")[index]).height($(val).height());
                        });
                    });
                    //初始化高度，使得冻结行表头高度一致
                    $(".layui-table-header tr").each(function (index, val) {
                        $($(".layui-table-fixed .layui-table-header table tr")[index]).height($(val).height());
                    });
                }
                ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.total, //解析数据长度
                        "data": res.data.list //解析数据列表
                    };
                }
            });

            //监听工具条
            table.on('tool(clazzTable)', function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    //删除单个壁纸信息
                    case 'delete':
                        layer.confirm('真的删除么', function (index) {
                            $.ajax({
                                url : '/profile/delete',
                                type : 'delete',
                                data:{
                                    id:data.id,
                                    filekey:data.filekey,
                                    cid:[[${cid}]]
                                },
                                success : function(res) {
                                    //弹出提示信息，并停留800毫秒
                                    layer.msg(res.msg,{time:1000});
                                },
                                error: function(errorInfo) {
                                    console.log(errorInfo);
                                }
                            });
                            reload();
                            layer.close(index);
                        });
                        reload();
                        break;
                };
            });
         table.on('toolbar(clazzTable)', function (obj) {
             var checkStatus = table.checkStatus(obj.config.id);

             switch (obj.event) {
                    case 'upload':
                        layer.open({
                            type: 1,
                            area: ['400px', '200px'],
                            shadeClose: true, //点击遮罩关闭
                            title: '添加网络图片',
                            btn: ['确定', '取消'],
                            content: $('#uploadwindow'),
                            success: function (index, layero) {
                                layui.form.render();
                            },
                             yes: function (index,layero) {
                                 let imgPath = $("#imgpath").val();
                                 function checkImgExists(imgurl) {
                                     return new Promise(function(resolve, reject) {
                                         var ImgObj = new Image()
                                         ImgObj.src = imgurl
                                         ImgObj.onload = function(res) {
                                             resolve(true);
                                         }
                                         ImgObj.onerror = function(err) {
                                             reject(false);
                                         }
                                     });
                                 }

                                 var res = checkImgExists(imgPath);
                                 res.then(()=>{
                                     $.ajax({
                                         url : '/profile/addonline',
                                         type : 'post',
                                         data: {
                                             "pic":$("#imgpath").val(),
                                             "cid":[[${cid}]]
                                         },
                                         success : function(res) {
                                             layer.msg(res.msg);
                                             if (res.code == 0){
                                                 //关闭当前弹窗
                                                 layer.close(index);
                                                 //重新加载表单数据
                                                 reload();
                                             }
                                         },
                                         error: function(errorInfo) {
                                             layer.msg(errorInfo);
                                         }
                                     });
                                 },(reason)=>{
                                    layer.msg("图片链接资源不存在，请检查");
                                 })

                            }
                        });
                        break;
                    //批量删除操作
                    case 'deletes':
                        var data = checkStatus.data;
                        var size = data.length;
                        console.log('data.id:'+data[0].id);
                        if (size != 0) {
                            layer.confirm('真的删除么', function (index) {
                                //定义变量：成功和失败的次数
                                var successTime = 0;
                                var failTime = 0;
                                for (let i = 0; i < size; i++) {
                                    $.ajax({
                                        url : '/profile/delete',
                                        type : 'delete',
                                        async: false,
                                        data:{
                                            id:data[i].id,
                                            filekey:data[i].filekey,
                                            cid:[[${cid}]]
                                        },
                                        success : function(res) {
                                            //如果单次删除成功，就给成功变量加1
                                            if(res.code == 0){
                                                successTime = successTime + 1;
                                            }else {
                                                failTime = failTime + 1;
                                            }
                                        },
                                        error: function(n) {
                                            console.log(n);
                                        }
                                    })
                                }
                                layer.msg("成功："+successTime+" 失败："+failTime,{
                                    time:800
                                });
                                layer.close(index);
                                reload();
                            });
                        } else {
                            layer.msg("请勾选要删除的班级");
                        }
                        break;
                     case 'updateCache':
                         $.ajax({
                             url : '/updateProfilePhotoCache',
                             type : 'POST',
                             data :{
                                 "cid":[[${cid}]]
                             },
                             success : function(res) {
                                 layer.msg(res.msg,{time:1000});
                             },
                             error: function(errorInfo) {
                                 layer.msg(errorInfo);
                             }
                         });
                         break;
                };
            });
            function reload() {
                tableIns.reload({
                    where: {}
                    ,page: {
                        curr: 1 //重新从第1页开始
                    }
                });
            }
        });
    </script>


    <!-- 上传网络图片窗口 -->
    <div id="uploadwindow" style="display:none;">
        <form class="layui-form" lay-filter="clazzInfoForm" id="clazzInfoForm" style="padding-right:30px">
            <div class="layui-form-item" style="margin-top: 30px">
                <label class="layui-form-label">图片链接：</label>
                <div class="layui-input-block">
                    <input id="imgpath" type="text"  placeholder="请输入链接" autocomplete="off" class="layui-input" required>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div th:replace="common/admin-common::header"></div>
    <div th:replace="common/admin-common::side('profilephoto')"></div>

    <div class="layui-body body">
        <div class="layui-fluid" style="padding: 15px;">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="padding-bottom:10px;">
                        <table class="layui-hide" id="clazzTable" lay-skin="line" lay-filter="clazzTable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="common/admin-common::footer"></div>
</div>

</body>
<script type="text/html" id="showImg">
    <img src="{{d.pic}}"/>
</script>
</html>