<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.FeedbackMapper">
   <select id="findAll" resultType="com.entity.Feedback">
       select * from feedback
   </select>
   <delete id="delete">
       delete from feedback where id = #{id}
   </delete>
   <insert id="add" parameterType="com.entity.Feedback">
       insert into feedback(nickname,content,contact) values(#{nickname},#{content},#{contact})
   </insert>
</mapper>